.ad-sec {
    display: flex;
    flex-wrap: wrap;
}
.ad-box:hover{
    scale: 0.9;
}
.detail{
    background-color: rgb(100, 42, 154);
}
.ad-box {
    width: 23%;
    background: rgb(3, 220, 198);
    margin: auto;
    margin-bottom: 30px;
}
.ad-box img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.icon1{
    position: absolute;
    top: 0px;
    left: 80px;
}
.icon2{
    position: absolute;
    top: 0px;
    left: 160px;
}
.inp-div{
    position: absolute ;
    top: 10%;
    left: 7%;
}
.inp1{
    width: 220px;
    height: 45px;
}
.inp{
    margin-left: 15px;
    width: 600px;
    height: 45px;
}
.detail{
    margin: 60px auto;
    text-align: center;
    border: 2px solid black;
    width: 40%;
}
.link{
    position: absolute;
    top: 85px;
    right: 490px;
    font-size: 30px;
    text-decoration-line: none;
    color: black;
}
.link1{
    position: absolute;
    top: 85px;
    right: 390px;
    font-size: 30px;
    text-decoration-line: none;
    color: black;
}
.btn-home{
    margin-left: 100px;
    width: 50%;
    height: 40px;
    color: white;
    background-color:blue;
}
.btn-deatil{
    margin-left: 30px;
    width: 50%;
    height: 40px;
    color: white;
    background-color:blue;
}