.header {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.box {
    width: 70px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}